<button mat-flat-button class="ms-4 mt-5 back" (click)="goBack()">Back to shop</button>

<div fxLayout="row" class="pt-3" *ngIf="listing">
  <div fxLayoutAlign="center" fxFlex class="mat-elevation-z0">
    <div class="p-5">
      <img src="{{listing.imageUrl}}" alt="detail-img" style="border-radius: 3px">
    </div>
  </div>
  <div fxLayoutAlign="start" fxFlex class="mat-elevation-z0">
    <div class="p-5 aboutText1">
      <h1>{{listing.title}}</h1>
      <h2>{{listing.price}} $</h2>
      <p *ngIf="listing.inStock == 1" class="onlyOne">Only 1 left!</p>
      <div fxLayout="row" fxLayoutAlign="start center" class="amount mb-2" *ngIf="listing.inStock > 1">
        <button class="less" (click)="less()" [disabled]="remainingAmount == 1">-</button>
        <input disabled style="width: 85px; text-align: center" value="{{inputAmount}}">
        <button class="more ps-2 pe-2" (click)="more()" [disabled]="remainingAmount == 1">+</button>
      </div>
      <button class="ps-4 pt-2 pe-4 pb-2 cartButton" mat-stroked-button [disabled]="(listing.inStock == 0) || (remainingAmount == 0)" (click)="addToCart()">
        {{listing.inStock == 0 ? 'Out of Stock' : 'Add to Cart'}}
      </button>
      <div class="info mt-4 mb-4">
        <h3>Information</h3>
        <ul class="infoList">
          <li class="pb-2" fxLayoutAlign="start center">
            <mat-icon class="me-2">back_hand</mat-icon>
            Handmade
          </li>
          <li class="pb-2" fxLayoutAlign="start center">
            <mat-icon class="me-2">flight_takeoff</mat-icon>
            Ships from Croatia
          </li>
          <li class="pb-2" fxLayoutAlign="start center">
            <mat-icon class="me-2">content_cut</mat-icon>
            Materials: {{listing.info.materials}}
          </li>
          <li class="pb-2" fxLayoutAlign="start center">
            <mat-icon class="me-2">straighten</mat-icon>
            Height: {{listing.info.height}} cm
            Width: {{listing.info.width}} cm
            Depth: {{listing.info.depth}} cm
          </li>
        </ul>
      </div>
      <div class="desc">
        <h3>Description</h3>
        <p>{{listing.info.description}}</p>
      </div>
    </div>
  </div>
</div>
