.infoList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: Playfair Display, serif;
}

h3 {
  font-weight: bold;
}

mat-icon {
  color: #757575;
}

.desc {
  width: 80%;
}

.cartButton {
  background-color: #ebe6d9;
  font-size: large;
  color: #7f543f;
}

.back {
  color: #757575;;
}

.back:hover {
  color: black;
}
