<mat-toolbar color="primary">
  <img src="../../assets/images/thumb/MWL2.png" alt="logo">
  <span class="spacer"></span>
  <button mat-icon-button aria-label="facebook icon">
    <mat-icon color="accent">facebook</mat-icon>
  </button>
  <button mat-icon-button aria-label="instagram icon">
    <img class="iconImg" src="../../assets/images/thumb/instagram.png">
  </button>
  <button mat-icon-button aria-label="cart icon">
    <mat-icon color="accent">shopping_cart</mat-icon>
  </button>
</mat-toolbar>
