mat-toolbar {
  color: #ebe6d9;
}

.logo {
  width: 100px;
}

.spacer {
  flex: 1 1 auto;
}

.iconImg {
  width: 25px;
}

mat-toolbar {
  border-bottom: #7f543f 1px solid;
}

.links {
  text-decoration: none;
  color: #7f543f;
}

.links:hover {
  color: #946c5a;
}

mat-icon {
  padding-top: 14px;
  padding-left: 5px;
}
