footer {
  background-color: #a98676;
  color: #ebe6d9;
  font-family: Playfair Display, serif;
  bottom: 0;
  left: 0;
}

.links {
  text-decoration: none;
  color: #ebe6d9;
}

.links:hover {
  color: #e1cabf;
}
