<div class="stepper-wrapper mt-4">
  <mat-stepper #stepper linear>
    <mat-step [stepControl]="firstFormGroup" errorMessage="Shipping information is required.">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Shipping Information</ng-template>
        <div>
          <mat-form-field appearance="fill" style="width: 420px">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill" class="me-3">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill" style="width: 420px">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill" class="me-3">
            <mat-label>City</mat-label>
            <input matInput formControlName="city" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Postal Code</mat-label>
            <input matInput formControlName="postalCode" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Country</mat-label>
            <input matInput formControlName="country" required>
          </mat-form-field>
        </div>
        <div>
          <button mat-stroked-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Payment Information</ng-template>
        <div>
          <mat-form-field appearance="fill" style="width: 420px">
            <mat-label>Card Holder</mat-label>
            <input matInput formControlName="cardHolder" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill" style="width: 420px">
            <mat-label>Card Number</mat-label>
            <input matInput formControlName="cardNumber" required maxlength="16">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill" class="me-3" style="width: 200px">
            <mat-label>Expiration Date</mat-label>
            <input matInput formControlName="expiration" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>CVC</mat-label>
            <input matInput formControlName="cvc" required maxlength="3">
          </mat-form-field>
        </div>
        <div>
          <button mat-stroked-button matStepperPrevious class="me-3">Back</button>
          <button mat-stroked-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Checkout</ng-template>
      <div class="mt-2 mb-4">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Payment Summary</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="mt-4" *ngFor="let item of cartItems">
              <div fxLayout="row" fxLayoutAlign="space-between" class="p-1">
                <div class="titleContainer" fxLayoutAlign="start">
                  <h3>{{item.title}}</h3>
                </div>
                <h3>x{{item.inCart}}</h3>
                <h2>{{item.price * item.inCart}} $</h2>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions align="end">
            <mat-card-title>Total: {{total}} $</mat-card-title>
          </mat-card-actions>
        </mat-card>
      </div>
      <div>
        <button mat-stroked-button matStepperPrevious class="me-3">Back</button>
        <button mat-stroked-button style="color: #7f543f; background-color: #ebe6d9;" routerLink="/purchase"
                (click)="clearCart()">Checkout
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</div>

