<button mat-flat-button class="ms-4 mt-4 back" (click)="goBack()">Back</button>

<h1 class="ps-5 pt-5 pb-3">{{editMode ? 'Edit Item' : 'Add Item'}}</h1>
<form [formGroup]="itemGroup" class="ps-5 pb-5" (ngSubmit)="onSubmit()">
  <div>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" required>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let category of categories" [value]="category.name">
          {{category.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Price</mat-label>
      <input matInput formControlName="price" required type="number">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Amount</mat-label>
      <input matInput formControlName="amount" required type="number">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Thumb Image URL</mat-label>
      <input matInput formControlName="thumbImgUrl" required>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Image URL</mat-label>
      <input matInput formControlName="imageUrl" required>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" required></textarea>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Materials</mat-label>
      <input matInput formControlName="materials" required>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Height</mat-label>
      <input matInput formControlName="height" required type="number">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Width</mat-label>
      <input matInput formControlName="width" required type="number">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Depth</mat-label>
      <input matInput formControlName="depth" required type="number">
    </mat-form-field>
  </div>
  <div>
    <button mat-stroked-button>Submit</button>
  </div>
</form>
