.content {
  padding: 20px;
  margin-top: 50px;
}

.cardContent {
  height: 60px;
}

h2 {
  font-family: Playfair Display, serif;
  color: #757575;
}

.category-link {
  text-decoration: none;
  color: #7f543f;
  font-size: large;
}

.mat-button-ripple {
  display: none;
}

mat-card:hover {
  box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2);
  z-index: 15;
}

img {
  transition: transform .5s ease;
}

img:hover {
  transform: scale(1.05);
}

.icons {
  color: #7f543f;
}

.category {
  font-family: Playfair Display, serif;
  width: 150px;
  background-color: whitesmoke;
  border: none;
}

.category:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.2);
}

button {
  color: #757575;
}

button:hover {
  color: black;
}

button:disabled {
  background-color: white !important;
  color: #757575 !important;
}
