<div fxLayout="row" fxLayoutAlign="space-evenly" class="p-5">
  <button class="category pt-3 pb-3 mat-elevation-z2">
    <a class="category-link" href="#">BAGS</a>
  </button>
  <button class="category pt-3 pb-3 mat-elevation-z2">
    <a class="category-link" href="#">BOOKMARKS</a>
  </button>
  <button class="category pt-3 pb-3 mat-elevation-z2">
    <a class="category-link" href="#">CHRISTMAS</a>
  </button>
  <button class="category pt-3 pb-3 mat-elevation-z2">
    <a class="category-link" href="#">DOILIES</a>
  </button>
</div>
<div class="content" fxLayoutAlign="center center">
  <div fxLayout="row wrap" fxLayoutGap="30px grid" fxFlex="90%">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let listing of listings">
      <mat-card class="mat-elevation-z3" tabindex="0">
        <img mat-card-image src="{{listing.imageUrl}}" alt="image" routerLink="/listings/{{listing.id}}">
        <mat-card-content class="cardContent">
          <mat-card-subtitle>{{listing.title}}</mat-card-subtitle>
          <h2>{{listing.price}} $</h2>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-flat-button routerLink="/listings/{{listing.id}}" [disabled]="listing.amount == 0">
            {{listing.amount == 0 ? 'Out of Stock' : 'View'}}
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
