<div class="banner"></div>
<mat-toolbar fxLayoutAlign="space-evenly center">
  <span>
      <a class="category" href="#">BAGS</a>
  </span>
  <span>
      <a class="category" href="#">BOOKMARKS</a>
  </span>
  <span>
      <a class="category" href="#">MAGNETS</a>
  </span>
  <span>
      <a class="category" href="#">DOILIES</a>
  </span>
</mat-toolbar>
<div class="content" fxLayoutAlign="center center">
  <div fxLayout="row wrap" fxLayoutGap="30px grid" fxFlex="90%">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let listing of listings">
      <mat-card class="mat-elevation-z4" tabindex="0">
        <img mat-card-image src="{{listing.imageUrl}}" alt="image">
        <mat-card-content class="cardContent">
          <mat-card-subtitle>{{listing.title}}</mat-card-subtitle>
          <h2>{{listing.price}} $</h2>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-icon-button>
            <mat-icon aria-hidden="false" aria-label="favorite icon">favorite</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon aria-hidden="false" aria-label="cart icon">shopping_cart</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
